// section shop

.shop {
  background-image: url(../images/shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  .slider-arrows {
    opacity: 0.25;
  }
}

.shop__slider {
  padding-left: 132px;
}

.shop__slider-inner {
  display: flex;
}

.shop__slider-info {
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
  padding-top: 150px;
}

.descr__head-shop {
  max-width: 340px;
  margin-bottom: 47px;
}

.shop__star-list {
  margin-left: -9px;
}

.shop__slider-price {
  margin-bottom: 64px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  sup {
    font-size: 18px;
    padding-left: 2px;
  }
}

.shop__slider-content {
  display: flex;
  align-items: flex-end;
  padding-left: 170px;
}

.shop__extras {
  padding-left: 150px;
}

.shop__extras-inner {
  display: flex;
}

.shop__extras-title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}

.shop__extras-box {
  text-align: center;
  margin-right: 57px;
}

.shop__extras-img {
  display: flex;
  align-items: center;
  justify-self: center;
  min-height: 105px;
  margin-bottom: 35px;
}

.shop__extras-name {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
}

.shop__extras-price {
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
}

.surfboard {
  position: relative;
}

.surfboard-box {
  position: absolute;

}

.surfboard__pos--1 {
  top: 215px;
  right: 40px;
}

.surfboard__pos--2 {
  top: 313px;
  left: -6px;
}

.surfboard__pos--3 {
  bottom: 70px;
  left: 52px;
  .surfboard-box__content {
    top: -15px;
    left: -400px;
    padding-right: 104px;
    padding-left: 0;
    &::before{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      width: 80px;
      height: 1px;
      background-color: #fff;
    }
  }
}

.surfboard-box__circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  &.active {
    .circle-row {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}

.circle-row{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: $green;
  transform: translate(-50%, -50%) rotate(0deg);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.surfboard-box__circle.active  + .surfboard-box__content{
  display: block;

}

.surfboard-box__content {
  position: absolute;
  top: -15px;
  left: 40px;
  display: none;
  width: 359px;
  padding-left: 104px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: #fff;
  }
}
